# TINKOFF контест

## Задание №11

### Представлены следующие данные:

**Таблица 1**: Пилоты  
<table align="left">
	<tr>
		<th align="center"  width="50">Ключ</th>
		<th align="center"  width="150">Наименование поля</th>
		<th align="center"  width="300">Комментарий</th>
 	</tr>
 	<tr>
  		<td>PK</td>
   		<td>pilot_id</td>
		<td> </td>
 	</tr>
	<tr>
  		<td> </td>
   		<td>name</td>
		<td> </td>
 	</tr>
	<tr>
  		<td> </td>
   		<td>age</td>
		<td> </td>
 	</tr>
	<tr>
  		<td> </td>
   		<td>rank</td>
		<td> </td>
 	</tr>
	<tr>
  		<td> </td>
   		<td>education_level</td>
		<td> </td>
 	</tr>
</table>

**Таблица 2**: Самолеты  
<table align="left">
	<tr>
		<th align="center"  width="50">Ключ</th>
		<th align="center"  width="150">Наименование поля</th>
		<th align="center"  width="300">Комментарий</th>
 	</tr>
 	<tr>
  		<td>PK</td>
   		<td>plane_id</td>
		<td> </td>
 	</tr>
	<tr>
  		<td> </td>
   		<td>capacity</td>
		<td>Если cargo_flg = 1, то capacity – грузоподъемность (в тоннах), 
            иначе количество пассажиров (в шт)</td>
 	</tr>
	<tr>
  		<td> </td>
   		<td>cargo_flg</td>
		<td>cargo_flg = 1 – грузовой самолет, 
            cargo_flg = 0 – пассажирский</td>
 	</tr>
</table>

**Таблица 3**: Рейсы
<table align="left">
	<tr>
		<th align="center"  width="50">Ключ</th>
		<th align="center"  width="150">Наименование поля</th>
		<th align="center"  width="300">Комментарий</th>
 	</tr>
 	<tr>
  		<td>PK</td>
   		<td>flight_id</td>
		<td> </td>
 	</tr>
	<tr>
  		<td>PK</td>
   		<td>flight_dt </td>
		<td>Дата вылета</td>
 	</tr>
	<tr>
  		<td>FK</td>
   		<td>plane_id</td>
		<td> </td>
 	</tr>
	<tr>
  		<td>FK</td>
   		<td>first_pilot_id</td>
		<td> </td>
 	</tr>
	<tr>
  		<td>FK</td>
   		<td>second_pilot_id</td>
		<td> </td>
 	</tr>
	<tr>
  		<td>FK</td>
   		<td>destination </td>
		<td>Аэропорт прилета</td>
 	</tr>
	<tr>
  		<td> </td>
   		<td>quantity  </td>
		<td>Кол-во перевезенного груза или пассажиров (размерность совпадает с capacity)</td>
 	</tr>
</table>

**Подготовка к выполнению задач**

Используем подготовленные заранее тестовые датасеты на основе описанных выше таблиц для проверки выполняемых запросов sql.  
Некоторые результаты sql-запросов могут быть странными, т.к. датасеты созданы исскуственно и не идеально подобраны под условия задач.

In [1]:
# Импортируем библеотеки. 

import pandas as pd
import numpy as np

In [2]:
# Загружаем подготовленные датасеты.

df_plane = pd.read_csv('https://raw.githubusercontent.com/zhukov-analyst/test_tasks/main/Tinkoff_contest/data/plane.csv', sep=';')
df_pilot = pd.read_csv('https://raw.githubusercontent.com/zhukov-analyst/test_tasks/main/Tinkoff_contest/data/pilot.csv', sep=';')
df_flight = pd.read_csv('https://raw.githubusercontent.com/zhukov-analyst/test_tasks/main/Tinkoff_contest/data/flight.csv', sep=';')

In [3]:
# Проверяем данные на анамалии.

def describe_data(df):
    display(df.head(10))
    print('------------------------------------------------------------------------------------------------------')
    print(df.info())
    print('------------------------------------------------------------------------------------------------------')

describe_data(df_pilot)
describe_data(df_plane)
describe_data(df_flight)

  pilot_id       name  age  rank education_level
0      p_1     Ivanov   50    10               A
1      p_2   Vasiliev   45     8               B
2      p_3     Petrov   51     6               B
3      p_4    Smirnov   46     8               C
4      p_5  Mikhailov   50     4               A
5      p_6    Fedorov   42     6               B
6      p_7    Sokolov   40     2               C
7      p_8   Yakovlev   44     2               A
8      p_9      Popov   49     4               B
9     p_10    Andreev   47     9               B

------------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pilot_id         100 non-null    object
 1   name             100 non-null    object
 2   age              100 non-null    int64
 3   rank             100 non-null    int64
 4   education_level  100 non-null    object
dtypes: int64(2), object(3)
memory usage: 4.0+ KB
None
------------------------------------------------------------------------------------------------------

  plane_id  capacity  cargo_flg
0   pl_401       226          1
1   pl_402       349          0
2   pl_403       474          1
3   pl_404       438          1
4   pl_405       411          1
5   pl_406        70          0
6   pl_407        61          0
7   pl_408       317          0
8   pl_409       178          1
9   pl_410       415          1

------------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   plane_id   50 non-null     object
 1   capacity   50 non-null     int64
 2   cargo_flg  50 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.3+ KB
None
------------------------------------------------------------------------------------------------------

,flight_id,flight_dt,plane_id,first_pilot_id,second_pilot_id,destination,quantity
0,f_1001,29.07.2021,pl_401,p_1,p_100,Belgorod International Airport,226
1,f_1002,30.07.2021,pl_402,p_2,p_99,Bryansk International Airport,349
2,f_1003,31.07.2021,pl_403,p_3,p_98,Ivanovo Yuzhny Airport,474
3,f_1004,01.08.2021,pl_404,p_4,p_97,Kaluga (Grabtsevo) Airport,438
4,f_1005,02.08.2021,pl_405,p_5,p_96,Kostroma Airport,411
5,f_1006,03.08.2021,pl_406,p_6,p_95,Kursk Vostochny Airport,70
6,f_1007,04.08.2021,pl_407,p_7,p_94,Lipetsk Airport,61
7,f_1008,05.08.2021,pl_408,p_8,p_93,Moscow Domodedovo Airport,317
8,f_1009,06.08.2021,pl_409,p_9,p_92,Sheremetyevo International Airport,178
9,f_1010,07.08.2021,pl_410,p_10,p_91,Vnukovo International Airport,415

------------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   flight_id        300 non-null    object
 1   flight_dt        300 non-null    object
 2   plane_id         300 non-null    object
 3   first_pilot_id   300 non-null    object
 4   second_pilot_id  300 non-null    object
 5   destination      300 non-null    object
 6   quantity         300 non-null    int64
dtypes: int64(1), object(6)
memory usage: 16.5+ KB
None
------------------------------------------------------------------------------------------------------

**Вывод проверки данных**  
Данные пригодны для последующей работы:  
Необходимо только привести flight_dt к типу datetime.

In [4]:
# Конвертируем правильный формат даты.

df_flight['flight_dt'] = pd.to_datetime(df_flight['flight_dt'],format='%d.%m.%Y')


# Посмотрим на данные.

df_flight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   flight_id        300 non-null    object
 1   flight_dt        300 non-null    datetime64[ns]
 2   plane_id         300 non-null    object
 3   first_pilot_id   300 non-null    object
 4   second_pilot_id  300 non-null    object
 5   destination      300 non-null    object
 6   quantity         300 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 16.5+ KB

In [5]:
# Все отлично. Заливаем таблицы в sql.

from sqlalchemy import create_engine
con = create_engine('postgresql+psycopg2://fnvidjvc:bvCt7HVPVhjmphQGbtgw0W_RcyyQoxih@hattie.db.elephantsql.com/fnvidjvc')

df_pilot.to_sql('pilot',con,index=False,if_exists='replace',method='multi')
df_plane.to_sql('plane',con,index=False,if_exists='replace',method='multi')
df_flight.to_sql('flight',con,index=False,if_exists='replace',method='multi')

In [6]:
# Посмотрим на получившиеся таблицы через sql.

sql = '''
SELECT 
*
FROM pilot
LIMIT 3
'''

pd.read_sql(sql, con)

  pilot_id      name  age  rank education_level
0      p_1    Ivanov   50    10               A
1      p_2  Vasiliev   45     8               B
2      p_3    Petrov   51     6               B

In [7]:
sql = '''
SELECT 
*
FROM plane
LIMIT 3
'''

pd.read_sql(sql, con)

  plane_id  capacity  cargo_flg
0   pl_401       226          1
1   pl_402       349          0
2   pl_403       474          1

In [8]:
sql = '''
SELECT 
*
FROM flight
LIMIT 3
'''

pd.read_sql(sql, con)

,flight_id,flight_dt,plane_id,first_pilot_id,second_pilot_id,destination,quantity
0,f_1001,2021-07-29,pl_401,p_1,p_100,Belgorod International Airport,226
1,f_1002,2021-07-30,pl_402,p_2,p_99,Bryansk International Airport,349
2,f_1003,2021-07-31,pl_403,p_3,p_98,Ivanovo Yuzhny Airport,474

**Можно приступать к задачам.**

---

**Задача 1**  
Напишите запрос, который выведет пилотов, которые в качестве второго пилота в августе этого года ездили в аэропорт Шереметьево.

In [9]:
sql = '''
SELECT 
DISTINCT f.second_pilot_id,
p.name
FROM flight as f
LEFT JOIN pilot as p ON f.second_pilot_id = p.pilot_id
WHERE (flight_dt BETWEEN '2021-08-01' AND '2021-08-31') 
    AND destination = 'Sheremetyevo International Airport'
    
'''

pd.read_sql(sql, con)

  second_pilot_id        name
0            p_12  Alexandrov
1            p_32     Matveev
2            p_52       Gusev
3            p_72     Sobolev
4            p_92      Vlasov

---

**Задача 2**  
Выведите пилотов старше 45 лет, которые совершили больше 30 полетов на грузовых самолетах.

Из-за специфики тестовых данных я в условиях вывода уменьшу кол-во полётов с 30 до 6 (максимальное значение в тестовых данных).

In [10]:
sql = '''
SELECT 
ff.pilot_id,
ff.name
FROM (
        SELECT *
        FROM flight as f
        LEFT JOIN plane as pl ON pl.plane_id = f.plane_id
        LEFT JOIN pilot as p ON f.first_pilot_id = p.pilot_id
        WHERE cargo_flg = '1' AND p.age >= 45
        
        UNION ALL
        
        SELECT *
        FROM flight as f
        LEFT JOIN plane as pl ON pl.plane_id = f.plane_id
        LEFT JOIN pilot as p ON f.second_pilot_id = p.pilot_id
        WHERE cargo_flg = '1' AND p.age >= 45
    ) as ff
GROUP BY ff.pilot_id, ff.name
HAVING count(ff.cargo_flg) >= 6 
'''

pd.read_sql(sql, con)

   pilot_id          name
0       p_1        Ivanov
1      p_10       Andreev
2     p_100        Naumov
3      p_12    Alexandrov
4      p_13       Lebedev
5      p_15      Stepanov
6      p_16      Semyonov
7      p_18      Bogdanov
8      p_19      Nikolaev
9      p_21        Egorov
10     p_22        Volkov
11     p_23     Kuznetsov
12     p_25      Soloviev
13     p_27         Orlov
14     p_28     Afanasiev
15     p_29      Filippov
16      p_3        Petrov
17     p_31      Zakharov
18     p_32       Matveev
19     p_33    Vinogradov
20     p_34        Kuzmin
21     p_35       Maximov
22     p_36        Kozlov
23     p_38     Gerasimov
24     p_39        Markov
25      p_4       Smirnov
26     p_41       Morozov
27     p_42       Romanov
28     p_46       Belyaev
29     p_47      Gavrilov
30     p_48       Antonov
31      p_5     Mikhailov
32     p_50      Leontiev
33     p_51       Davydov
34     p_53       Danilov
35     p_54       Kiselev
36     p_59    Kondratiev
37     p_60   Kudryavtsev
38     p_63      Vorobiev
39     p_66      Saveliev
40     p_67       Schmidt
41     p_68      Trofimov
42     p_71       Sidorov
43     p_72       Sobolev
44     p_73        Karpov
45     p_77          Lviv
46     p_78        Frolov
47     p_81     Prokofiev
48     p_82         Bykov
49     p_84       Golubev
50     p_85     Ponomarev
51     p_86     Pokrovsky
52      p_9         Popov
53     p_91         Fomin
54     p_92        Vlasov
55     p_96       Ushakov
56     p_98  Konstantinov

---

**Задача 3**  
Выведите ТОП 10 пилотов-капитанов (first_pilot_id), которые перевезли наибольшее число пассажиров в этом году.

In [11]:
sql = '''
SELECT
p.pilot_id,
p.name,
sum(pl.capacity)
FROM flight as f
LEFT JOIN plane as pl ON pl.plane_id = f.plane_id
LEFT JOIN pilot as p ON f.first_pilot_id = p.pilot_id
WHERE cargo_flg = '0'
GROUP BY p.pilot_id, p.name
ORDER BY sum(pl.capacity) desc
LIMIT 10
'''

pd.read_sql(sql, con)

  pilot_id        name     sum
0     p_52       Gusev  1047.0
1      p_2    Vasiliev  1047.0
2     p_58   Nikiforov   951.0
3      p_8    Yakovlev   951.0
4     p_87    Martynov   741.0
5     p_37       Ilyin   741.0
6     p_40     Novikov   498.0
7     p_90     Mironov   498.0
8      p_6     Fedorov   210.0
9     p_56  Tikhomirov   210.0